.container {
  display: flex;
  flex-direction: row;
}
.chatroom {
  width: calc(100%);
}
.chatroom .top {
  background-color: #becdde;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px 20px 11px;
}
.crin_topbox {
  background-color: #becdde;
  width: 200px;
  height: 53px;
  overflow-x: hidden;
}

.crin_topbox .ilinfo li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 7px 10px;
  overflow: hidden;
}

.crin_topbox .ilinfo li div:first-of-type {
  min-width: 38px;
  min-height: 38px;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  border-radius: 16px;
  overflow: hidden;
}

.crin_topbox .ilinfo li div:first-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.crin_topbox .ilinfo li div:nth-of-type(2) {
  width: 138px;
  margin-right: 17px;
  overflow: hidden;
}
.crin_topbox .ilinfo li div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 15px;
  font-weight: 500;
}
.top-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50px;
}
.top-icon img {
  width: 21px;
  height: 15px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
}

.chatBox {
  background-color: #becdde;
  width: 100%;
  height: calc(80% - 50px);
  overflow-x: auto;
}

.box {
  margin-top: 5px;
}

.box .chatStyle .chatStyleli {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  padding: 7px 10px;
  overflow: hidden;
}

.box .chatStyle .chatStyleli div:first-of-type {
  min-width: 38px;
  min-height: 38px;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  border-radius: 16px;
  overflow: hidden;
}

.box .chatStyle .chatStyleli div:first-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .chatStyle .chatStyleli div:nth-of-type(2) {
  width: 138px;
  margin-right: 17px;
  overflow: hidden;
}

.box .chatStyle .chatStyleli div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 12px;
  font-weight: 500;
  color: #4c5258;
}

.box .chatStyle .chatStyleli div:nth-of-type(2) div:nth-of-type(n) {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  margin-top: 6px;
  background-color: #ffffff;
}

.box .chatStyle .chatStyleli div:nth-of-type(2) div:nth-of-type(n) p {
  border-radius: 3px;
  padding: 7% 5% 7% 5%;
  font-size: 12px;
  color: #000000;
  word-wrap: break-word;
}

/*chatStyleMe */
.box .chatStyle .chatStyleMe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 7px 10px;
  overflow: hidden;
}

.box .chatStyle .chatStyleMe div:first-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .chatStyle .chatStyleMe div:first-of-type {
  /* width: 138px; */
  margin-right: 5px;
  overflow: hidden;
  padding: 7px 10px;
}

.box .chatStyle .chatStyleMe div:first-of-type div:nth-of-type(n) {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  margin-top: 6px;
  background-color: #fbe542;
}

.box .chatStyle .chatStyleMe div:first-of-type div:nth-of-type(n) p {
  border-radius: 3px;
  /* padding: 7% 5% 7% 5%; */
  font-size: 12px;
  color: #000000;
  word-wrap: break-word;
}

.chatroom .bottom {
  width: 392px;
  height: 112px;
}

.chatroom .bottom div {
  padding: 10px 10px 7px 10px;
}

.chatroom .bottom form {
  display: flex;
  align-items: flex-end;
}
.chatroom .bottom div textarea {
  border: none;
  resize: none;
}

#file1 {
  display: none;
}

.chatroom .bottom div .imgfile {
  border: 1px solid transparent;
  width: 60px;
  height: 30px;
  border-radius: 7px;
  color: #99999a;
  background-color: #f2f2f2;
  margin-left: 5px;
  cursor: pointer;
}

.chatroom .bottom div .chatsubmit {
  border: 1px solid transparent;
  width: 60px;
  height: 30px;
  border-radius: 7px;
  color: #99999a;
  background-color: #f2f2f2;
  margin-left: 5px;
  cursor: pointer;
}
