<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.sign.member.MemberDTO" alias="memberdto" />
		<typeAlias type="com.chat.chatlist.ChatListDTO" alias="chatlistdto" />
		<typeAlias type="com.chat.chatroom.controller.ChatDTO" alias="chatdto" />
		<typeAlias type="com.friend.service.UserDTO" alias="userdto" />
		<typeAlias type="com.friend.service.FriendDTO" alias="frienddto" />
		<typeAlias type="com.friend.service.FriendResultDTO" alias="friendresultdto" />
	</typeAliases>

</configuration>